# DT_COMPAT_ZMK_DRIVER_KSCAN_HE_DIRECT_PULSED := zmk,kscan-he-direct-pulsed
# DT_COMPAT_ZMK_DRIVER_KSCAN_FORWARDER := zmk,kscan-forwarder

# config HE_DRIVER_KSCAN_HE_DIRECT_PULSED
#     bool
#     default $(dt_compat_enabled,$(DT_COMPAT_ZMK_DRIVER_KSCAN_HE_DIRECT_PULSED))

# config HE_DRIVER_KSCAN_FORWARDER
#     bool
#     default $(dt_compat_enabled,$(DT_COMPAT_ZMK_DRIVER_KSCAN_FORWARDER))

config ZMK_BLE_GAMEPAD_REPORT_QUEUE_SIZE
    int "Max number of mouse HID reports to queue for sending over BLE"
    default 20

config HE_LOG_LEVEL
    int "Log level for HE driver"
    default ZMK_LOG_LEVEL

config HE_INPUT_LISTENER
    bool "Enable modified input listener"
    default y
    depends on DT_HAS_HE_INPUT_LISTENER_ENABLED
    select ZMK_POINTING

config HE_INPUT_SPLIT
    bool "Enable modified input split"
    default y
    depends on DT_HAS_HE_INPUT_SPLIT_ENABLED
    depends on ZMK_SPLIT
    depends on !ZMK_SPLIT_ROLE_CENTRAL
    select ZMK_POINTING

rsource "src/behaviors/Kconfig"
rsource "src/input_processors/Kconfig"
rsource "src/kscan/Kconfig"
rsource "src/sensor/Kconfig"
rsource "src/hid/Kconfig"