config HE_BEHAVIOR_GAMEPAD_BTN
    bool "Enable gamepad button behavior"
    default y
    depends on DT_HAS_HE_BEHAVIOR_GAMEPAD_BTN_ENABLED

config HE_BEHAVIOR_PULSE_SET
    bool "Enable pulse set behavior"
    default y
    depends on DT_HAS_HE_BEHAVIOR_PULSE_SET_ENABLED